<ul class="nav nav-sidebar">
  <li class="{% if page =='anasayfa'%}active{% endif %}">
    <a href="/">Giriş
      {% if page =='anasayfa'%}<span class="sr-only">(current)</span>{% endif %}
    </a>
  </li>
  <li class="{% if page =='islerim'%}active{% endif %}">
    <a href="/islerim">İşlerim
      {% if page =='islerim'%}<span class="sr-only">(current)</span>{% endif %}
    </a>
  </li>
</ul>

{% if user.isAdministrator %}
<ul class="nav nav-sidebar">
  <li class="{% if modelName =='User'%}active{% endif %}">
    <a href="/list/User">Kullanıcılar
      {% if modelName =='User'%}<span class="sr-only">(current)</span>{% endif %}
    </a>
  </li>
  <li class="{% if modelName =='Job'%}active{% endif %}">
    <a href="/list/Job">İşler
      {% if modelName =='Job'%}<span class="sr-only">(current)</span>{% endif %}
    </a>
  </li>
  <li class="{% if modelName =='JobType'%}active{% endif %}">
    <a href="/list/JobType">İş Türleri
      {% if modelName =='JobType'%}<span class="sr-only">(current)</span>{% endif %}
    </a>
  </li>
</ul>
{% endif %}
