{% extends "./layout.html" %}

{% block pageContent %}

<button type="button" class="btn btn-danger pull-right" data-toggle="modal" data-target="#deleteConfirm">
  Kaydı Sil
</button>

<h1 class="page-header">{{ name }} Düzenle</h1>

{% set saveButtonText = 'Güncelle' %}

{% include "./form_" + modelName + ".html" %}

<div class="modal fade" id="deleteConfirm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        Bu kaydı silerseniz geri dönüşü yoktur. Devam etmek istiyor musunuz?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">İptal</button>
        <a href="/delete/{{ modelName }}/{{ record._id }}" button" class="btn btn-danger">Kaydı sil</a>
      </div>
    </div>
  </div>
</div>

{% endblock %}
