<form class="form-horizontal" method="post" action="">
  <div class="form-group">
    <label for="inputName" class="col-sm-2 control-label">İş Adı</label>
    <div class="col-sm-4">
      <input name="name" type="name" class="form-control" id="inputName" placeholder="İş Adı" value="{{ selectedUser.name }}">
    </div>
  </div>
  <div class="form-group">
    <label for="inputEmail" class="col-sm-2 control-label">İş Detayı</label>
    <div class="col-sm-4">
      {#<input name="email" type="email" class="form-control" id="inputEmail" placeholder="İş Detayı" value="{{ selectedUser.email }}">#}
      <textarea class="form-control" rows="3" placeholder="İş detayı"></textarea>
    </div>
  </div>
  <div class="form-group">
    <label for="inputStart" class="col-sm-2 control-label">Planlanan Başlangıç</label>
    <div class="col-sm-4">
      <input name="password" type="text" class="form-control datepicker" id="inputStart" placeholder="Planlanan Başlangıç" value="{{ selectedUser.password }}">
    </div>
  </div>
  <div class="form-group">
    <label for="inputEnd" class="col-sm-2 control-label">Planlanan Bitiş</label>
    <div class="col-sm-4">
      <input name="password" type="text" class="form-control datepicker" id="inputEnd" placeholder="Planlanan Bitiş" value="{{ selectedUser.password }}">
    </div>
  </div>

  <div class="form-group">
    <label for="inputPassword" class="col-sm-2 control-label">Atanan kişi</label>
    <div class="col-sm-4">
      <select class="form-control">
        <option value="">Henüz atanmamış</option>
        {% for user in users %}
        <option value="{{ user._id }}">{{ user.name }}</option>
        {% endfor %}
      </select>
    </div>
  </div>

  <div class="form-group">
    <label for="inputPassword" class="col-sm-2 control-label">İş Türleri</label>
    <div class="col-sm-4">
      {% for jobtype in jobtypes %}
      <div class="checkbox"><label><input type="checkbox" value="{{ jobtype._id }}"> {{ jobtype.name }}</label></div>
      {% endfor %}
    </div>
  </div>

  <hr />
  <div class="form-group">
    <div class="col-sm-12">
      <button type="submit" class="btn btn-primary pull-right">{{ saveButtonText }}</button>
      <a href="/kullanicilar" class="btn btn-warning pull-left">İptal/Geri Dön</a>
    </div>
  </div>
</form>

<script>
/* global $ */
$('.datepicker').datepicker({
  language: 'tr',
  keyboardNavigation: false,
  daysOfWeekHighlighted: '0,6',
  autoclose: true,
  todayHighlight: true
})
</script>
