<!doctype html>
<html lang="tr">
<head>
  <title>Giriş</title>
</head>
<body>
<h1>Sisteme giriş</h1>
<p>Sistemi kullanmak için lütfen giriş yapınız</p>

{% if messages.error %}
  <p>{{ messages.error }}</p>
{% endif %}

<form method="post" action="">
<input name="email" type="email" value="a@abc.com" placeholder="E-posta adresiniz" required autofocus>
<input name="password" type="password" value="123" placeholder="Şifreniz" required>
<input type="submit" value="Giriş" />
</form>
</body>
</html>
