{% extends "./layout.html" %}

{% block pageContent %}

<a href="/yeni-kullanici" class="btn btn-primary pull-right">Yeni Kullanıcı Ekle</a>
<h1 class="page-header">Kullanıcılar</h1>

<p>Burada sisteme kayıtlı tüm kullanıcıları görebilir ve yönetebilirsiniz.</p>

<table class="table table-condensed table-hover">
  <thead>
    <tr>
      <th>Ad Soyad</th>
      <th>E-posta</th>
      <th>Üye olma</th>
      <th>Son güncelleme</th>
      <th>Yönetici mi?</th>
    </tr>
  </thead>
  <tbody>
    {% for user in users %}
      <tr>
        <td><a href="/kullanici/{{ user._id }}">{{ user.name }}</a></td>
        <td>{{ user.email }}</td>
        <td>{{ moment(user.createdAt).format('DD MMMM YYYY') }}</td>
        <td>{{ moment(user.updatedAt).fromNow() }}</td>
        <td>{% if user.isAdministrator %}Evet{% else %}Hayır{% endif %}</td>
      </tr>
    {% endfor %}
  </tbody>
</table> 


{% endblock %}
