<!doctype html>
<html lang="tr">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>İşTakip - Anasayfa</title>
  <link rel="stylesheet" href="/bower/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/bower/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css">
  <link rel="stylesheet" href="/bower/AdminLTE/dist/css/AdminLTE.min.css">
  <link rel="stylesheet" href="/bower/AdminLTE/dist/css/skins/_all-skins.min.css">
  <link rel="stylesheet" href="/bower/font-awesome/css/font-awesome.min.css">

  <script src="/bower/jquery/dist/jquery.min.js"></script>
  <script src="/bower/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="/bower/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
  <script src="/bower/bootstrap-datepicker/dist/locales/bootstrap-datepicker.tr.min.js"></script>
  <script src="/bower/AdminLTE/dist/js/app.min.js"></script>

  <style>
    table tr.unread * { font-weight: bold; }
    .printOnly { display: none; }
    @media print {
      .printNoShow { display: none; }
      .printOnly { display: block; }
    }
  </style>
</head>

<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

  <header class="main-header">
    <a href="index2.html" class="logo">
      <span class="logo-mini">İştakip</span>
      <span class="logo-lg">İştakip</span>
    </a>
    <nav class="navbar navbar-static-top">
      <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
        <span class="sr-only">Menu</span>
      </a>
      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <li>
            <a>
              <img style="margin-right: 5px;" src="https://www.gravatar.com/avatar/{{ userEmailHash }}?s=20" />
              {{ user.name }}
            </a>
          </li>
          <li><a href="/cikis">Çıkış yap</a></li>
        </ul>
      </div>
    </nav>
  </header>

  <aside class="main-sidebar">
    <section class="sidebar">

      <ul class="sidebar-menu">
        <li class="{% if page =='anasayfa'%}active{% endif %}">
          <a href="/">
            <i class="fa fa-home"></i> Giriş
          </a>
        </li>
        <li class="{% if page =='islerim'%}active{% endif %}">
          <a href="/islerim">
            <i class="fa fa-folder-open-o"></i>
            <span>İşlerim</span>
            <span class="pull-right-container">
                <span class="label label-primary pull-right">{{ counts.MyJobCount }}</span>
                {% if counts.UnreadJobCount %}<span class="label label-danger pull-right">{{ counts.UnreadJobCount }} yeni</span>{% endif %}
              </span>
          </a>
        </li>

        {% if user.isAdministrator %}
          <li class="header">Yönetim</li>
          <li class="{% if modelName =='User'%}active{% endif %}">
            <a href="/list/User">
              <i class="fa fa-user-o"></i>
              <span>Kullanıcılar</span>
              <span class="pull-right-container">
                <span class="label label-primary pull-right">{{ counts.User }}</span>
              </span>
            </a>
          </li>
          <li class="{% if modelName =='Job'%}active{% endif %}">
            <a href="/list/Job">
              <i class="fa fa-tasks"></i>
              <span>İşler</span>
              <span class="pull-right-container">
                <span class="label label-primary pull-right">{{ counts.Job }}</span>
              </span>
            </a>
          </li>
          <li class="{% if modelName =='JobType'%}active{% endif %}">
            <a href="/list/JobType">
              <i class="fa fa-list-ul"></i>
              <span>İş Türleri</span>
              <span class="pull-right-container">
                <span class="label label-primary pull-right">{{ counts.JobType }}</span>
              </span>
            </a>
          </li>
        {% endif %}
      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>

  <div class="content-wrapper">
    <section class="content-header">
      {% block rightButton %}{% endblock %}

      <h1>
        {% block title %}{% endblock %}
      </h1>
    </section>

    <section class="content">
      <div class="row">
        <div class="col-md-12">
          <div class="box">
            <div class="box-body {% block boxBodyClass %}{% endblock %}">
              {% block pageContent %}{% endblock %}
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

  <footer class="printNoShow main-footer">
    <strong>Copyright &copy; 2016 <a href="https://github.com/yasinaydin/istakip">İşTakip</a>.</strong>
  </footer>

</div>
</body>
</html>
