<table class="table table-condensed table-hover">
  <thead>
    <tr>
      <th>Adı</th>
      <th>Açıklama</th>
      <th>İş Oluşturma</th>
      <th>İş Bitişi</th>
      <th>Oluşturan</th>
      <th>Atanan</th>
      <th>Düzenle</th>
    </tr>
  </thead>
  <tbody>
    {% for record in records %}
      <tr>
        <td><a href="/isdetayi/{{ record._id }}">{{ record.title }}</a></td>
        <td>{{ record.description }}</td>
        <td>{{ moment(record.createdAt).format('DD MMMM YYYY HH:mm') }}</td>
        <td>{{ record.finished }}</td>
        <td>{{ record.createdBy.name }}</td>
        <td>{{ record.assignedTo.name }}</td>
        <td><a href="/edit/{{ modelName }}/{{ record._id }}">Düzenle</a></td>
      </tr>
    {% endfor %}
  </tbody>
</table>
