{% extends "./layout.html" %}

{% block pageContent %}

<input type="hidden" id="JobId" value="{{ record._id }}" />

<div>
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="{% if tab === 'isdetayi'%}active{% endif %}">
      <a href="#isdetayi" aria-controls="isdetayi" role="tab" data-toggle="tab">İş Detayı</a>
    </li>
    <li role="presentation" class="{% if tab === 'isakisi'%}active{% endif %}">
      <a href="#isakisi" aria-controls="isakisi" role="tab" data-toggle="tab">İş Akışı Günlüğü</a>
    </li>
  </ul>

  <div class="tab-content">
    <div role="tabpanel" class="tab-pane {% if tab === 'isdetayi'%}active{% endif %}" id="isdetayi">
      {% include "./_jobdetail_info.html" %}

    </div>
    <div role="tabpanel" class="tab-pane {% if tab === 'isakisi'%}active{% endif %}" id="isakisi">
      {% include "./_jobdetail_history.html" %}
    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">İş durumunu değiştir</h4>
      </div>
      <div class="modal-body">
        <input type="hidden" id="JobTypeId" value="" />
        <input type="hidden" id="JobTypeAction" value="" />
        <p>İşi durumunu değiştirmek için lütfen yorum yazınız</p>
        <textarea class="form-control" placeholder="Yapılanlar" id="JobTypeChangeComment"></textarea>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">İptal</button>
        <button type="button" class="btn btn-primary" onclick="updateJobStatus()">İş Durumunu Değiştir</button>
      </div>
    </div>
  </div>
</div>

<script>
/* global $ */

$(document).on('click', '.jobTypeChangeButton', function () {
  $('#JobTypeId').val($(this).data('id'))
  $('#JobTypeAction').val($(this).data('action'))
})

function writeComment () {
  console.log('comment = ' + $('#JobComment').val())
  console.log('job id = ' + $('#JobId').val())

  $.post('/ajax/comment', {
    comment: $('#JobComment').val(),
    JobId: $('#JobId').val()
  }, function () {
    return location.href = window.location.href.split('?').shift() + '?tab=isakisi'
  })
}

function updateJobStatus () {
  $.post('/ajax/changeJobTypeStatus', {
    JobTypeId: $('#JobTypeId').val(),
    comment: $('#JobTypeChangeComment').val(),
    action: $('#JobTypeAction').val(),
    JobId: $('#JobId').val()
  }, function () {
    return location.href = window.location.href.split('?').shift() + '?tab=isdetayi'
  })
}
</script>

{% endblock %}
