{% extends "./layout.html" %}

{% block title %}
  İşlerim
{% endblock %}

{% block boxBodyClass %}table-responsive no-padding{% endblock %}

{% block pageContent %}
  {% if records.length == 0 %}
    <p>Şu anda size atanan bir iş yok.</p>
    {% else %}

    <table class="table table-condensed table-hover">
      <thead>
        <tr>
          <th>Adı</th>
          <th>Açıklama</th>
          <th>İş Oluşturma</th>
          <th>Oluşturan</th>
        </tr>
      </thead>
      <tbody>
        {% for record in records %}
          <tr class="{% if record.isOpened === false %}unread{% endif %}">
            <td><a href="/isdetayim/{{ record._id }}">{{ record.title }}</a></td>
            <td>{{ record.description }}</td>
            <td>{{ moment(record.createdAt).format('DD MMMM YYYY HH:mm') }}</td>
            <td>{{ record.createdBy.name }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endif %}
{% endblock %}
